.todo_item {
  width: calc(100% - 16px);
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item_time {
  margin-right: 24px;
}
